name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - run: pipx install poetry
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
          cache: poetry
      - run: poetry install
      - run: poetry show --tree
      - run: |
          poetry run pytest --cov
          poetry run python -m coverage report --format=markdown > coverage.md
      - run: |
          echo "### Code Coverage" >> $GITHUB_STEP_SUMMARY
          cat coverage.md >> $GITHUB_STEP_SUMMARY
